.footer {
    background-color:#353535;
    color: white;
    padding: 20px;

    & i {
        font-size: 15px;
    }

    &__title {
        font-family: "Shrikhand", cursive;
        font-size: 20px;
    }

    &__icon {
        margin-top: 20px;
    }

    
}


.footer__icon--align {
    gap: 19px;
    display: flex;
    align-items: center;
}

.fa-solid, .fas {
    width: 10px;
}

p {
    margin: 3px;
}
