.menus {
    background-color: #f6f6f6;
    padding: 20px;


    .menus__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }


    .card {
        min-width: 300px;

        &__image {
          

            height: 300px;
            border-radius: 20px;
            background-size: cover;

        }

        &__image-1 {
            background-image: url(assets/menu-1.jpg);
        }

        &__image-2 {
            background-image: url(assets/menu-2.jpg);


        }

        &__image-3 {
            background-image: url(assets/menu-3.jpg);


        }

        &__image-4 {
            background-image: url(assets/menu-4.jpg);


        }

    }
}