h4 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: -45px;
}

h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 23px;
  font-size: 20px;
}

.restaurantContainer a {
  display: block;
}

.menu {
  background-color: #f6f6f6;
  position: relative;
  margin-top: -64px;
  padding: 24px;
  border-radius: 20px 20px 0px 0px;
}
.menu .menu__card {
  margin-bottom: 72px;
}
.menu .menu__order--title {
  margin-top: 42px;
}
@media (min-width: 900px) {
  .menu .menu__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 900px) and (max-width: 1115px) {
  .menu .menu__start {
    width: 280px;
  }
}
@media (min-width: 900px) {
  .menu .menu__order--title {
    margin: 0px;
  }
}
.menu .fa-heart {
  font-size: 30px;
}
.menu .fas {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 27px;
  right: 36px;
  color: transparent;
}
.menu .fas:hover {
  opacity: 1;
  background: linear-gradient(to bottom right, #FF72DA, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(1px 1px 4px #9144dd);
}
.menu .far {
  position: absolute;
  right: 36px;
  top: 27px;
}
.menu .menu___start,
.menu .menu__plats {
  margin-bottom: 15px;
}
.menu .menu__order--underscore {
  color: #99E2D0;
  font-weight: bold;
  position: relative;
  bottom: 17px;
}
.menu .menu__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@-webkit-keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.menu .menu__container--individual {
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: relative;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 8px -3px #000000;
}
.menu .menu__container--individual:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.menu .menu__container--individual:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu .menu__container--individual:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu .menu__container--individual:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu .menu__container--individual:hover .menu__container--check {
  right: 0px;
  transition-duration: 0.8s;
}
.menu .menu__container--individual:hover .circlecheck {
  transition-duration: 0.8s;
  transform: rotate(360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu__container--description {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__container--text {
  font-size: 13px;
  margin-left: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu p {
  font-size: 20px;
  margin: 0;
}
.menu .menu__container--check {
  display: flex;
  align-items: center;
  gap: 15px;
  transition-duration: 0.5s;
  position: relative;
  right: -60px;
}
.menu .price {
  font-weight: bolder;
  font-size: 13px;
  position: relative;
  top: 10px;
  margin-right: 6px;
}
.menu .menu__container--rotation {
  height: 100%;
  width: 60px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  padding-left: 10px;
}
.menu .circlecheck {
  position: relative;
  left: -7px;
  color: white;
  font-size: 25px;
}

.divbtn {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
}

.btn {
  margin: 94px 50px;
  padding: 5px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, #FF72DA, #9356dc);
  width: 170px;
  height: 40px;
  color: white;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 2px 1px 8px -3px #000000;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  box-shadow: 2px 1px 20px 3px #000000;
}/*# sourceMappingURL=menupages.css.map */